<section class="about">
  <div class="container" id="about_us">
    <h2 class="section-heading">
      About <span class="underlined-word">Us</span>
    </h2>
    <p class="section-description">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-cards">
      <ol class="about-list">
        <li class="about-list-item">
          <p class="about-list-item-description">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-list-item-description">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-list-item-description">
            Multicultural learning environment
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-list-item-description">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-memoji-card">
        <picture>
          <source
            srcset="
              ./images/about/memoji@1x.webp 1x,
              ./images/about/memoji@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/about/memoji@1x.png 1x,
              ./images/about/memoji@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="about-memoji-img"
            src="./images/about/memoji@1x.png"
            alt="Smiling teacher asks for attention"
            width="255"
            height="172"
            loading="lazy"
          >
        </picture>
      </div>
    </div>
  </div>
</section>
