<footer class="footer">
  <div class="container footer-container" id="footer">
    <div class="footer-content">
      <div class="footer-logo-address-block">
        <a href="./index.html" class="footer-logo-link"
          >english<span class="footer-logo-color">excellence</span>.</a
        >
        <address>
          <ul class="footer-list">
            <li class="footer-item">
              <p class="footer-link-text">Phone number:</p>
              <a
                href="tel:+380684439426"
                class="contacts no-underline transition"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-item">
              <p class="footer-link-text">Address:</p>
              <a
                href="https://www.google.com/maps/search/?api=1&query=32a+M.+Bazhana+ave"
                class="contacts no-underline transition"
                target="_blank"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>

      <nav>
        <ul class="footer-nav-list">
          <li class="footer-nav-item"><a href="#about_us">About us</a></li>
          <li class="footer-nav-item"><a href="#lessons">Our lessons</a></li>
          <li class="footer-nav-item"><a href="#teachers">Teachers</a></li>
          <li class="footer-nav-item"><a href="#reviews">Reviews</a></li>
          <li class="footer-nav-item"><a href="#contact">Contact us</a></li>
        </ul>
      </nav>

      <ul class="footer-social-list">
        <li class="footer-social-link">
          <a
            class="footer-icon"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            aria-label="Facebook"
          >
            <svg
              class="footer-svg"
              viewBox="0 0 32 32"
              width="28"
              height="28"
              aria-hidden="true"
            >
              <use x="0" y="0" href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-link">
          <a
            class="footer-icon"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            aria-label="Instagram"
          >
            <svg
              class="footer-svg"
              viewBox="0 0 32 32"
              width="28"
              height="28"
              aria-hidden="true"
            >
              <use x="0" y="0" href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-link">
          <a
            class="footer-icon"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            aria-label="YouTube"
          >
            <svg
              class="footer-svg"
              viewBox="0 0 32 32"
              width="28"
              height="28"
              aria-hidden="true"
            >
              <use x="0" y="0" href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="bottom">
      <p>&#169; 2023 English Excellence. All rights reserved.</p>
      <ul class="footer-links">
        <li><a class="policy" href="#">Privacy Policy</a></li>
        <li><a class="policy" href="#">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
