<section class="form">
  <div class="container" id="contact">

    <h2 class="section-heading">Leave an <span class="underlined-word">application</span></h2>
    <p class="section-description">Please use the form below to contact us. Enter your name, email, and message and we'll
      get back to you shortly</p>

    <div class="form-app-blocks">

      <div class="block-form-app-info">
        <picture class="form-app-info-image">
          <source media="(min-width: 1280px)" srcset="./images/form-app/girl.webp 1x, ./images/form-app/girl@2x.webp 2x" type="image/webp">
          <source media="(min-width: 1280px)" srcset="./images/form-app/girl.png 1x, ./images/form-app/girl@2x.png 2x"
            type="image/png">
          <img srcset="./images/form-app/girl.png 1x, ./images/form-app/girl@2x.png 2x" src="./images/form-app/girl.png"
            alt="A girl talking on video call" width="492" loading="lazy">
        </picture>
        <div class="form-app-info-description">
          <p class="form-app-info-count">1000</p>
          <p class="form-app-info-text">of our online English language lessons! This journey has been full of discovery,
            growth and unforgettable moments, and we are happy to share this joyful event with you.</p>
        </div>
      </div>

      <div class="block-form-app">

        <iframe name="iframeHiddenConfirm" id="iframeHiddenConfirm" style=" display: none;" onload="if(window.submitted){showPopup();}"></iframe>

        <form class="form-app" name="contact" action="https://docs.google.com/forms/d/e/1FAIpQLSfqlIsduccQZVhHaxQbD9rRpnthWNtsvATIvVq4UZNSoHveIg/formResponse" method="post" target="iframeHiddenConfirm" onsubmit="submitted=true">

          <fieldset class="form-app-fieldset-fields">
            <div class="form-app-field">
              <label class="form-app-label" for="form-app-name">
                <input class="form-input" type="text" name="entry.554475317" id="form-app-name" placeholder="Name" required
                  pattern="[A-Za-z\s]{2,50}"

                  title="Name should contain only letters and spaces, and be between 2 and 50 characters long.">
              </label>
            </div>

            <div class="form-app-field">
              <label class="form-app-label" for="form-app-email">
                <input class="form-input" type="email" name="entry.442822125" id="form-app-email" placeholder="Email" required
                pattern="[^@\s]+@[^@\s]+\.[^@\s]+" title="Please enter a valid email address.">
              </label>
            </div>

            <div class="form-app-field">
              <label class="form-app-label" for="form-app-phone">
                <input class="form-input" type="tel" name="entry.879225522" id="form-app-phone" placeholder="Phone" required
                  pattern="^\+?[0-9]{10,15}$"

                  title="Phone number should be between 10 and 15 digits and can start with a plus sign.">
              </label>
            </div>

            <div class="form-app-field">
              <label class="form-app-label" for="form-app-comment">
                <textarea class="form-comment" name="entry.193035086" id="form-app-comment" placeholder="Comment"></textarea>
              </label>
            </div>
          </fieldset>

          <fieldset class="form-app-fieldset-radio">
            <legend class="legend">Choose a teacher</legend>

            <div class="form-app-radio-buttons">
              <label class="label-radio-button">
                <input class="visually-hidden" type="radio" name="entry.846394020" value="Maria" id="maria" checked>
                <span class="circle-radio-button">
                  <svg class="circle-radio-button-icon" width="10" height="10">
                    <use href="./images/icons.svg#icon-circle-for-radio-button"></use>
                  </svg>
                </span>
                Maria
              </label>

              <label class="label-radio-button">
                <input class="visually-hidden" type="radio" name="entry.846394020" value="Artem">
                <span class="circle-radio-button">
                  <svg class="circle-radio-button-icon" width="10" height="10">
                    <use href="./images/icons.svg#icon-circle-for-radio-button"></use>
                  </svg>
                </span>
                Artem
              </label>

              <label class="label-radio-button">
                <input class="visually-hidden" type="radio" name="entry.846394020" value="Ilona">
                <span class="circle-radio-button">
                  <svg class="circle-radio-button-icon" width="10" height="10">
                    <use href="./images/icons.svg#icon-circle-for-radio-button"></use>
                  </svg>
                </span>
                Ilona
              </label>

              <label class="label-radio-button">
                <input class="visually-hidden" type="radio" name="entry.846394020" value="Volodymyr">
                <span class="circle-radio-button">
                  <svg class="circle-radio-button-icon" width="10" height="10">
                    <use href="./images/icons.svg#icon-circle-for-radio-button"></use>
                  </svg>
                </span>
                Volodymyr
              </label>
            </div>
          </fieldset>
     
          <button class="green-button form-app-button" type="submit">Send
          </button>

        </form>

        <p class="under-form-txt">By clicking on “Send” button, you agree to our <a href=""
            class="under-form-txt-link">Privacy&nbsp;Policy</a>, <span class="form-new-line-txt"></span>and allow Promodo to use this information for marketing purposes.
        </p>
      </div>

    </div>
  </div>
</section>
