<header class="header-top">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="./index.html" class="header-nav-logo"
        >english<span class="header-nav-logo-excellence">excellence</span>.</a
      >
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about_us" class="header-nav-link">About us</a>
        </li>
        <li class="header-nav-item">
          <a href="#lessons" class="header-nav-link">Our lessons</a>
        </li>
        <li class="header-nav-item">
          <a href="#teachers" class="header-nav-link">Teachers</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact" class="header-nav-link">Contact us</a>
        </li>
      </ul>
    </nav>
    <button
      class="header-button-icon"
      onclick="openMenu()"
      aria-label="Mobile menu button"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="header-socials">
      <li class="header-socials-item">
        <a
          class="header-socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Facebook site"
        >
          <svg class="header-socials-icon" width="44" height="44">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Instagram site"
        >
          <svg class="header-socials-icon" width="44" height="44">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-item">
        <a
          class="header-socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Link to Youtube site"
        >
          <svg class="header-socials-icon" width="44" height="44">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
