<section class="hero">
  <div class="hero-bcg">
    <div class="container hero-container">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-title-span">English </span>with us!
      </h1>
      <a class="hero-btn btn-transition" href="#contact"
        >Leave an application</a
      >
      <a class="hero-scroll-btn" href="#footer" aria-label="Scroll to Footer">
        <svg class="hero-scroll-img" viewBox="0 0 10 8" width="24">
          <use href="./images/icons.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
