<section class="app">
  <div class="leave-app-card">
    <h2 class="visually-hidden">Proposal to leave application</h2>
    <p class="leave-app-heading">
      Master the
      <span class="leave-app-heading-span">Language</span>
      with Our English Package!
    </p>

    <div class="leave-app-card-stack">
      <div class="leave-app-stack-front">
        <h3 class="leave-app-stack-heading">Power of English</h3>
        <ul class="leave-app-card-list">
          <li class="leave-app-card-list-item">
            <div class="leave-app-card-round-icon">
              <svg class="leave-app-card-check" viewBox="0 0 10 8">
                <use href="./images/icons.svg#icon-check-for-list"></use>
              </svg>
            </div>
            <p class="leave-app-card-list-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>

          <li class="leave-app-card-list-item">
            <div class="leave-app-card-round-icon">
              <svg class="leave-app-card-check" viewBox="0 0 10 8">
                <use href="./images/icons.svg#icon-check-for-list"></use>
              </svg>
            </div>
            <p class="leave-app-card-list-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>

          <li class="leave-app-card-list-item">
            <div class="leave-app-card-round-icon">
              <svg class="leave-app-card-check" viewBox="0 0 10 8">
                <use href="./images/icons.svg#icon-check-for-list"></use>
              </svg>
            </div>
            <p class="leave-app-card-list-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a class="leave-app-card-btn btn-transition" href="#contact"
          >Leave an application</a
        >
        <picture>
          <source
            srcset="
              ./images/leave-application/books-stack@1x.webp 1x,
              ./images/leave-application/books-stack@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/leave-application/books-stack@1x.png 1x,
              ./images/leave-application/books-stack@2x.png 2x
            "
            type="image/png"
          >
          <img
            class="img-books mobile-hidden"
            src="./images/leave-application/books-stack@1x.png"
            alt="Tall stack of books"
            width="214"
            height="263"
            loading="lazy"
          >
        </picture>
      </div>
    </div>
  </div>
</section>
