<section class="app">
      <div class="leave-app-card">
        <h2 class="visually-hidden">Proposal to leave application</h2>
        <p class="leave-app-heading">
          Master the
          <span class="leave-app-heading-span">Language</span>
          with Our English Package!
        </p>

        <div class="leave-app-card-stack">
          <div class="leave-app-stack-front">
            <h2 class="leave-app-stack-heading">Power of English</h2>
            <ul class="leave-app-card-list">
              <li class="leave-app-card-list-item">
                <div class="leave-app-card-round-icon">
                  <svg class="leave-app-card-check" viewBox="0 0 10 8">
                    <use href="./images/icons.svg#icon-check-for-list"></use>
                  </svg>
                </div>
                <p class="leave-app-card-list-text">
                  Dive into captivating lessons designed
                  to stimulate your curiosity.
                </p>
              </li>

              <li class="leave-app-card-list-item">
                <div class="leave-app-card-round-icon">
                  <svg class="leave-app-card-check" viewBox="0 0 10 8">
                    <use  href="./images/icons.svg#icon-check-for-list"></use>
                  </svg>
                </div>
                <p class="leave-app-card-list-text">
                  Learn in a nurturing setting where every
                  student's progress matters.
                </p>
              </li>

              <li class="leave-app-card-list-item">
                <div class="leave-app-card-round-icon">
                  <svg class="leave-app-card-check" viewBox="0 0 10 8">
                    <use href="./images/icons.svg#icon-check-for-list"></use>
                  </svg>
                </div>
                <p class="leave-app-card-list-text">
                  Experience the satisfaction of real progress
                  as your language skills
                  and confidence grow with every session.
                </p>
              </li>
            </ul>
            <a class="leave-app-card-btn btn-transition" href="#contact">Leave an application</a>
            <img class="img-books mobile-hidden" src="./images/leave-application/books-stack.png" alt="Tall stack of books" />
          </div>
        </div>
      </div>
  </section>