<section class="reviews">
  <div class="container container-review">
    <h2 class="section-heading" id="reviews">
      What our <span class="underlined-word">students</span> say
    </h2>
    <p class="section-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <div class="swiper">
      <ul class="cards swiper-wrapper">
        <li class="card swiper-slide">
          <div class="green-top">
            <picture>
              <source
                srcset="
                  ./images/reviews/anna.webp    1x,
                  ./images/reviews/anna_2x.webp 2x
                "
                type="image/webp"
              >
              <source
                srcset="
                  ./images/reviews/anna.png    1x,
                  ./images/reviews/anna_2x.png 2x
                "
                type="image/png"
              >
              <img
                src="./images/reviews/anna.png"
                alt="Anna"
                width="50"
                height="50"
                loading="lazy"
              >
            </picture>
            <div class="green-top-text">
              <p class="name">Anna</p>
              <p class="student">Student</p>
            </div>
          </div>
          <div class="review-text">
            <p>
              My experience at the language school has been nothing short of
              amazing. The teachers are dedicated and the learning environment is
              stimulating. I feel more confident in my English skills.
            </p>
          </div>
        </li>
        <li class="card swiper-slide">
          <div class="green-top">
            <picture>
              <source
                srcset="
                  ./images/reviews/mykhailo.webp    1x,
                  ./images/reviews/mykhailo_2x.webp 2x
                "
                type="image/webp"
              >
              <source
                srcset="
                  ./images/reviews/mykhailo.png    1x,
                  ./images/reviews/mykhailo_2x.png 2x
                "
                type="image/png"
              >
              <img
                src="./images/reviews/mykhailo.png"
                alt="Mykhailo"
                width="50"
                height="50"
                loading="lazy"
              >
            </picture>
            <div class="green-top-text">
              <p class="name">Mykhailo</p>
              <p class="student">Student</p>
            </div>
          </div>
          <div class="review-text">
            <p>
              The school offers a great balance of language theory and practical
              exercises. The personalized feedback from the teachers has helped me
              improve my weak areas.
            </p>
          </div>
        </li>
        <li class="card swiper-slide">
          <div class="green-top">
            <picture>
              <source
                srcset="
                  ./images/reviews/victoria.webp    1x,
                  ./images/reviews/victoria_2x.webp 2x
                "
                type="image/webp"
              >
              <source
                srcset="
                  ./images/reviews/victoria.png    1x,
                  ./images/reviews/victoria_2x.png 2x
                "
                type="image/png"
              >
              <img
                src="./images/reviews/victoria.png"
                alt="Victoria"
                width="50"
                height="50"
                loading="lazy"
              >
            </picture>
            <div class="green-top-text">
              <p class="name">Victoria</p>
              <p class="student">Student</p>
            </div>
          </div>
          <div class="review-text">
            <p>
              I love the dynamic and interactive teaching methods used here. It's
              a great place to learn English in a fun and effective way. I have
              definitely seen a big improvement in my language skills.
            </p>
          </div>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
