<section class="teachers">
  <div class="teachers-container container">
    <h2 class="section-heading" id="teachers">
      Meet our <span class="underlined-word">teachers</span>
    </h2>
    <p class="section-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers-list">
      <li class="teachers-item">
        <picture>
          <source
            srcset="
              ./images/teachers/teacher-maria@1x.webp 1x,
              ./images/teachers/teacher-maria@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/teachers/teacher-maria@1x.jpg 1x,
              ./images/teachers/teacher-maria@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="teachers-image"
            srcset="
              ./images/teachers/teacher-maria@1x.jpg 1x,
              ./images/teachers/teacher-maria@2x.jpg 2x
            "
            src="./images/teachers/teacher-maria@1x.jpg"
            alt="Image of the first teacher"
            width="150"
            height="150"
            loading="lazy"
          >
        </picture>
        <div class="teachers-description">
          <h3 class="teachers-name">Maria</h3>
          <p class="teachers-undertext">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <picture>
          <source
            srcset="
              ./images/teachers/teacher-artem@1x.webp 1x,
              ./images/teachers/teacher-artem@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/teachers/teacher-artem@1x.jpg 1x,
              ./images/teachers/teacher-artem@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="teachers-image"
            srcset="
              ./images/teachers/teacher-artem@1x.jpg 1x,
              ./images/teachers/teacher-artem@2x.jpg 2x
            "
            src="./images/teachers/teacher-artem@1x.jpg"
            alt="Image of the second teacher"
            width="150"
            height="150"
            loading="lazy"
          >
        </picture>
        <div class="teachers-description">
          <h3 class="teachers-name">Artem</h3>
          <p class="teachers-undertext">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <picture>
          <source
            srcset="
              ./images/teachers/teacher-ilona@1x.webp 1x,
              ./images/teachers/teacher-ilona@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/teachers/teacher-ilona@1x.jpg 1x,
              ./images/teachers/teacher-ilona@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="teachers-image"
            srcset="
              ./images/teachers/teacher-ilona@1x.jpg 1x,
              ./images/teachers/teacher-ilona@2x.jpg 2x
            "
            src="./images/teachers/teacher-ilona@1x.jpg"
            alt="Image of the third teacher"
            width="150"
            height="150"
            loading="lazy"
          >
        </picture>
        <div class="teachers-description">
          <h3 class="teachers-name">Ilona</h3>
          <p class="teachers-undertext">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers-item">
        <picture>
          <source
            srcset="
              ./images/teachers/teacher-volodymyr@1x.webp 1x,
              ./images/teachers/teacher-volodymyr@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              ./images/teachers/teacher-volodymyr@1x.jpg 1x,
              ./images/teachers/teacher-volodymyr@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            class="teachers-image"
            srcset="
              ./images/teachers/teacher-volodymyr@1x.jpg 1x,
              ./images/teachers/teacher-volodymyr@2x.jpg 2x
            "
            src="./images/teachers/teacher-volodymyr@1x.jpg"
            alt="Image of the fourth teacher"
            width="150"
            height="150"
            loading="lazy"
          >
        </picture>
        <div class="teachers-description">
          <h3 class="teachers-name">Volodymyr</h3>
          <p class="teachers-undertext">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
