
/* головні стилі */
.footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: var(--black-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    gap: 40px; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-logo-address-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; 
}

.footer-logo-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.37;
    color: var(--white-color);
}

.footer-logo-color {
    color: var(--dark-green-color);
}

.footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.footer-item a {
    font-weight: 600;
    font-size: 14px;
}

.footer-link-text {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
}

/* стилізація */
.contacts{
    line-height: 1.29;
    color: var(--white-color);
}

.no-underline {
    text-decoration: none;
}

.transition {
    transition: color 0.3s ease;
}

.transition:hover {
    color: var(--dark-green-color);
}

.footer-social-container {
    display: flex;
    flex-direction: column;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer-nav-item a {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    transition: color 0.3s ease;
}

.footer-nav-item a:hover {
    color: var(--dark-green-color);
}

.footer-social-list {
    display: flex;
    gap: 12px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.footer-icon {
    border-radius: 10px;
    width: 36px; 
    height: 36px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all 0.3s ease;
}

.footer-icon:hover {
    border-color: var(--dark-green-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-svg {
    fill: var(--white-color);
    opacity: 0.8;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;  
    opacity: 0.6;
}

.footer-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 18px ;
}

.policy {
    color: var(--white-color);
    transition: color 0.3s ease;
    
}

.policy:hover {
    color: var(--dark-green-color); 
}


/* планшет */
@media screen and (min-width: 768px) {
    .footer {
        padding-top: 36px;
        padding-bottom: 16px;
    }

    .footer-container{
        gap: 110px
    }

    .footer-content {
        flex-direction: row;
        gap: unset; 
    }
    
    .footer-logo-address-block {
        margin-right: 152px;
        gap: 32px;
    }

    .footer-social-list {
        margin-left: auto;
        height: 44px;
    }

    .bottom {
        width: 100%; 
        justify-content: space-between;
        gap: unset;
        flex-direction: row;
        padding-top: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .footer{
        padding-top: 64px;
        padding-bottom: 23px;
    }
    .footer-logo-address-block{
        margin-right: 315px;
    }

    .footer-container{
        gap: 64px;
    }
    
    .bottom{
        padding-top: 23px;
    } 
}
    