
/* Гумова верстка від 320px */
@media screen and (min-width: 320px) {
    
}

/* Адаптивна верстка з 375px */
@media screen and (min-width: 375px) {
    
}
/* головні стилі */
.footer {
    padding: 40px 0 20px;
    background-color: var(--black-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    gap: 40px; 
}
.footer-logo-address-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; 
}
.footer-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
}
.footer-logo-link {
    text-decoration: none;
    color: inherit;
}
.footer-logo-color {
    color: var(--dark-green-color);
}

.footer-address{
    padding: 0;
}
.footer-contacts {
    margin: 0;
}
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-item {
    margin-bottom: 16px; 
}
.footer-item:last-child {
    margin-bottom: 0; 
}
.footer-item a {
    font-weight: 600;
    font-size: 14px;
}
.footer-link-text {
    margin-bottom: 4px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
}
/* стилізація */
.contacts-color {
    color: var(--white-color);
}
.no-underline {
    text-decoration: none;
}
.transition {
    transition: color 0.3s ease;
}
.transition:hover {
    color: var(--dark-green-color);
}

.footer-nav-container {
    padding: 0;
}
.footer-social-container {
    display: flex;
    flex-direction: column;
}
.footer-nav {
    display: flex;
}
.footer-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.footer-nav-item:not(:last-child) {
    margin-bottom: 20px;
}
.footer-nav-item a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}
.footer-nav-item a:hover {
    color: var(--dark-green-color);
}

.footer-social-container {
    display: flex;
    flex-direction: column;
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0;
    margin: 0;
}
.footer-social-link {
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}
.footer-icon {
    border-radius: 10px;
    width: 36px; 
    height: 36px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}
.footer-icon:hover {
    border-color: var(--dark-green-color);
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-svg {
    fill: var(--white-color);
    opacity: 80%;
    width: 24px;
    height: 24px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 20px;  
}
.bottom-text {
    font-size: 14px;
    opacity: 0.6;
}
.footer-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 18px ;
}

.policy {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease;
    opacity: 0.6; 
}
.policy:hover {
    color: var(--dark-green-color); 
}


/* планшет */
@media screen and (min-width: 768px) {
    /* .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    } */
    
    .footer {
        padding: 32px 36px 16px 0;
    }
    .footer-container {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
        flex-wrap: wrap;
        justify-content: space-between; 
        gap: unset; 
    }
    .footer-logo-block {
        display: inline-block;
    }
    .footer-logo-address-block {
        gap: 32px;
    }
    .footer-nav-container {
        flex: 1;
        display: flex;
        justify-content: center; 
    }
    .footer-social-container {
        display: flex;
        align-items: flex-end;
    }
    .bottom {
        width: 100%; 
        display: flex;
        justify-content: space-between;
        gap: unset;
        margin-top: auto; /* Штовхає .bottom вниз */
        flex-direction: unset;
        padding-top: 16px;
    }
    .footer-links {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;   
    }
    .bottom-text {
        font-size: 14px;
        opacity: 0.6;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    /* .container {
      max-width: 1280px;
      padding-left: 64px;
      padding-right: 64px;
    } */
    
    .footer{
        padding: 64px 128px 23px;
    } 
    .bottom{
        padding-top: 23px;
    }
}
    