.header-top {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    display: flex;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 122px;
  flex-direction: row;
  color: #121417;
}

@media screen and (min-width: 768px) {
  .header-nav-logo {
    margin-right: 482px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav-logo {
    margin-right: 138px;
  }
}

.header-nav-logo-excellence {
  color: var(--dark-green-color);
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: none;

  }
}

@media screen and (min-width: 1280px) {
  .header-nav-list {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-right: 138px;
  }
}

.header-nav-link {
  font-weight: 600;
  font-size: 14px;
  color: #2e2f42;
}

.header-nav-link.hilight {}

.header-nav-link.hilight::after {
  content: '';
  display: block;
  background: var(--dark-green-color);
  border-radius: 2px;
  width: 37px;
  height: 4px;
  position: absolute;
  top: 57px;
  bottom: 0px;
}

/*Socials*/
.header-socials {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-socials {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 12px;
  }
}

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--black-color);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
}

.header-socials-link:hover,
.header-socials-link:focus {
  border: 1px solid rgba(77, 194, 116, 0.1);
}

.header-socials-icon {
  fill: var(--black-color);
}

.header-socials-icon:hover,
.header-socials-icon:focus {
  fill: var(--dark-green-color)
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
}

.header-button-icon-mob {
  display: flex;
  fill: var(--black-color);
}

.header-button-icon-tab {
  display: none;
}


@media screen and (min-width: 768px) {
  .header-button {
    position: relative;
  }

  .header-button-icon-mob {
    display: none;
  }

  .header-button-icon-tab {
    display: flex;
    fill: var(--black-color);
  }
}

@media screen and (min-width: 1280px) {
  .header-button {
    display: none;
  }
}