
.header-top {
  position: fixed;
  z-index: 15;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  
}

.header-container {
  display: flex;
  align-items: center;
  height: 84px;
  width: 100%;
  border-bottom: solid 2px var(--darkest-green-color);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header-nav-logo {
  font-weight: 700;
  font-size: 20px;
}

.header-nav-list {
  display: none;
  list-style-type: none;
  padding: 0;
}

.header-nav-item {
  display: inline-block;
}

.header-nav-link {
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.header-nav-link::after {
  content: '';
  display: block;
  background: var(--dark-green-color);
  border-radius: 2px;
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  width: 100%;
  transform: scaleX(1);
}


.header-nav-logo-excellence {
  color: var(--dark-green-color);
}

/*Socials*/
.header-socials {
  display: none;
}

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
}

.header-socials-link:hover,
.header-socials-link:focus {
  transition: border 0.3s ease;
  border: 1px solid rgba(77, 194, 116, 0.1);
}

.header-socials-icon {
  fill: var(--black-color);
  transition: fill 0.3s ease;
}

.header-socials-link:hover .header-socials-icon,
.header-socials-link:focus .header-socials-icon {
  fill: var(--dark-green-color);
}

.header-button-icon {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  row-gap: 4px;
  fill: var(--black-color);
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header-button-icon span:nth-child(1) {
  width: 27px;
  height: 0;
  border-top: 3px solid black;
  border-radius: 6px;
}
.header-button-icon span:nth-child(2) {
  width: 20px;
  height: 0;
  border-top: 3px solid black;
  border-radius: 6px;
  transition: width 0.3s ease-out;
}
.header-button-icon span:nth-child(3) {
  width: 27px;
  height: 0;
  border-top: 3px solid black;
  border-radius: 6px;
}
.header-button-icon:hover span:nth-child(2) {
  width: 27px;
}




@media screen and (min-width: 768px) {

  .header-socials {
    display: none;
  }

  .header-button{
    width: 40px;
    height: 28px;
  }
  .header-button-icon {
    width: 40px;
    height: 28px;
    row-gap: 5px;
  }

  .header-button-icon span:nth-child(1) {
    width: 34px;
  }
  .header-button-icon span:nth-child(2) {
    width: 24px;
  }
  .header-button-icon span:nth-child(3) {
    width: 34px;
  }
  .header-button-icon:hover span:nth-child(2) {
    width: 34px;
  }

}

@media screen and (orientation: landscape) and (min-width: 768px) and (max-height: 550px) {
    .header-container {
    height: 40px;
  }
}



@media screen and (min-width: 1280px) {

  .header-nav {
    justify-content: flex-start;
  }

  .header-nav-logo {
    margin-right: 138px;
  }

  .header-nav-list {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header-socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header-button-icon {
    display: none;
  }
}

