html {
  scroll-behavior: smooth;
}


.header-top {
  position: fixed;
  z-index: 15;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  height: 84px;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-grow: 1;
}

.header-nav-logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--black-color);
}

.header-nav-list {
  display: none;
  list-style-type: none;
  padding: 0;
}

.header-nav-item {
  display: inline-block;
  margin-right: 20px;
}

.header-nav-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--black-color);
  text-decoration: none;
  position: relative;
}

.header-nav-link::after {
  content: '';
  display: block;
  background: var(--dark-green-color);
  border-radius: 2px;
  width: 0; 
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -6px; 
  transition: width 0.3s ease; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease; 
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  width: 100%; 
  transform: scaleX(1);
}





.header-nav-logo-excellence {
  color: var(--dark-green-color);
}

/*Socials*/
.header-socials {
  display: none;
}

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 44px;
  height: 44px;
}

.header-socials-link:hover,
.header-socials-link:focus{
  border: 1px solid rgba(77, 194, 116, 0.1);
}

.header-socials-icon {
  fill: var(--black-color);
}

.header-socials-link:hover .header-socials-icon,
.header-socials-link:focus .header-socials-icon {
  fill: var(--dark-green-color)
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
 cursor: pointer;
}

.header-button-icon-mob {
  display: flex;
  fill: var(--black-color);
}

.header-button-icon-tab {
  display: none;
}

@media screen and (min-width: 768px) {
  
    .header-nav-list {
        display: none;
    }

    .header-socials {
          display: none;
    }
  
    .header-button-icon-mob {
      display: none;
    }
  
    .header-button-icon-tab {
      display: flex;
      fill: var(--black-color);
    }
    }

@media screen and (min-width: 1280px) {

  .header-nav {
      display: flex;
      justify-content: flex-start;
    }
  .header-nav-logo{
    margin-right: 138px;
  }
  .header-nav-list {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.3;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  .header-socials {
      display: flex;
      align-items: center;
      gap: 12px;}
    .header-button {
      display: none;}}

