.app {
  display: flex;
  justify-content: center;
}
  .leave-app-card{
    margin-bottom: 80px;
    min-width: 280px;
    max-width: 335px;
    background: var(--green-gradient);
    border-radius: 16px;
    padding: 40px 20px 65px;
    overflow: hidden;
    position: relative;
  }

  .leave-app-heading{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.05;
    max-width: 295px;
    height: 160px;
    display: block;
    color: var(--white-color);
    margin-bottom: 65px;
  }
  .leave-app-heading-span{
    color: var(--light-green-color);
  }

  .leave-app-card-stack{
    display: flex;
    justify-content: center;
  }
  .leave-app-stack-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 20px;
  }
  .leave-app-stack-front{

    width: 100%;
    background-color: var(--white-color);
    border-radius: 16px;
    z-index: 1;
    padding: 40px 19.15px;
    display: block;

  }

  .leave-app-stack-back{
    position: absolute;
    width: 88%;
    min-height: 408px;
    height: calc(100% - 333px);
    background: var(--light-green-color);
    border-radius: 16px;
    transform: rotate(-9.86deg);
  }
  .leave-app-stack-back::after{
    content: "";
    width: 100%;
    position: absolute;
    min-height: 408px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    transform: rotate(19deg);
    left: 0;
    bottom: 0;
    height: 100%;
  }


  .leave-app-card-list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 20px;
  }
  .leave-app-card-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .leave-app-card-round-icon{
    background-color: var(--dark-green-color);
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .leave-app-card-check{
    display: block;
    margin: auto;
    width: 10px;
    height: 8px;
  }
  .leave-app-card-list-text{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--black-color);
  }
  .leave-app-card-btn{
    display: inline-block;
    text-align: center;
    border: none;
    width: 100%;
    padding: 14px 28px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.72;
    color: var(--white-color);
    background-color: var(--dark-green-color);
    border-radius: 12px;
  }
  .leave-app-card-btn:hover{
    background-color: #38AE5F;
  }
  .leave-app-card-btn:focus{
    background-color: #38AE5F;
  }
  .btn-transition{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-hidden{
    display: none;
  }


@media screen and (min-width: 768px) {
  .leave-app-card{
    max-width: 704px;
    height: 950px;
    padding: 64px 32px;
  }
  .leave-app-heading{
    max-width: 640px;
    height: 210px;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
  }
  .leave-app-stack-front{
    position: absolute;
    width: 668px;
    height: 500px;
    padding: 65px 32px;
  }
  .leave-app-stack-back{
    width: 668px;
    height: 500px;
  }
  .leave-app-stack-back::after{
    width: 668px;
    height: 500px;
    top:0;
  }
  .leave-app-stack-heading{
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.02em;
  }
  .leave-app-card-list{
    max-width: 451px;
    margin-bottom: 32px;
  }
  .leave-app-card-round-icon{
    width: 28px;
    height: 28px;
  }
  .leave-app-card-check{
    width: 16.5px;
    height: 16.5px;
  }
  .leave-app-card-list-item{
    gap: 10px;
  }
  .leave-app-card-list-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .leave-app-card-round-icon{
    min-width: 28px;
  }
  .leave-app-card-btn{
    display: inline-block;
    padding: 16px 64px;
    max-width: 306px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  .mobile-hidden{
    display: block;
  }
  .img-books{
    position: absolute;
    bottom: 65px;
    right: -48px;
  }
}
