/* Напівпрозорий фон */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* Контент pop-up */
.popup-content {
  background: #ffffff;
  padding: 30px;
  border: 2px solid #38ae5f;
  border-radius: 10px;
  text-align: center;
  line-height: 1.67;
}

@media screen and (min-width: 768px) {
  .popup-content {
    padding: 30px;
    font-weight: 700;
    font-size: 18px;
  }
}

/* Скритий елемент */
.hidden {
  display: none;
}

/* дизайн кнопки
.popup-content button {
  margin: 0px auto;
  padding: 10px 20px;
  border: 2px solid #38ae5f;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.popup-content button:hover {
  background: #38ae5f;
  color: #D4FDE1;
} */
