.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: var(--white-color);
  padding: 30px;
  border: 2px solid var(--darkest-green-color);
  border-radius: 10px;
  text-align: center;
  line-height: 1.67;
  width: 90%;
  margin: 0 auto;
  max-width: 375px;
  color: var(--p-dark-text);
}

.popup-awesome {
  font-weight: 700;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .popup-awesome {
    font-size: 18px;
  }
  .popup-content {
    padding: 30px;
    font-size: 16px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .popup-awesome {
    font-size: 20px;
  }
  .popup-content {
    padding: 30px;
    font-size: 18px;
    max-width: 500px;
  }
}

.hidden {
  display: none;
}
