
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./lessons.css');
@import url('./leave-application.css');
@import url('./teachers.css');
@import url('./form-app.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./menu.css');

:root {
  --black-color: #121417;
  --dark-green-color: #4DC274;
  --green-gradient: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --light-green-color: #D4FDE1;
  --gray-color: #F3F5F6;
  --white-color: #FFFFFF;
  --p-text: rgba(18, 20, 23, 0.5);
  --p-dark-text: rgba(18, 20, 23, 0.8);
  --p-on-green-bg: rgba(255, 255, 255, 0.7);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--black-color);
  font-size: 18px;
}
.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
