.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 0 40px;
}

.teachers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.teachers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px
}

.teachers-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 335px;
}

.teachers-image {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  width: 150px;
  height: 150px;
}

.teachers-description {
  line-height: 1.71;
  text-align: center;
  color: var(--p-text);
}

.teachers-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 8px;
}

.teachers-undertext {
  line-height: 1.71;
  color: var(--p-text);
  margin: 0 auto;
}

/* Tablet Media */
@media screen and (min-width: 768px) {
  .teachers {
    padding: 100px 0 50px;
  }
  .teachers-list {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 32px;
    max-width: 704px;
  }
  .teachers-item {
    flex-basis: calc((100% - 160px) / 2);
  }
  .teachers-undertext {
    font-size: 16px;
    line-height: 1.5;
  }
}

/* Desktop Media */
@media only screen and (min-width: 1280px) {
  .teachers {
    padding: 150px 0 75px;
  }
  .teachers-list {
    max-width: 1024px;
    gap: 32px;
  }
  .teachers-item {
    flex-basis: calc((100% - 96px) / 4);
  }
}