.teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 150px 0 75px;
}
@media only screen and (min-width: 768px) {
  .teachers {
    padding: 100px 0 50px;
  }
}
@media only screen and (min-width: 1280px) {
  .teachers {
    padding: 150px 0 75px;
  }
}

.teachers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.teachers-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin: 0 auto;
  margin-bottom: 16px;
}

.teachers-word::after {
  content: '';
  transition: border-color 0.3s;
  background-color: #bee8cc;
  width: 100%;
  height: 12px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0;
  border-radius: 8px;
  z-index: -1;
}

.teachers-word {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.teachers-abovetext {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--p-text);
  margin-bottom: 40px;
  max-width: 334px;
}
@media only screen and (min-width: 768px) {
  .teachers-abovetext {
    min-width: 709px;
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
  }
}

.teachers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px
}
@media only screen and (min-width: 768px) {
  .teachers-list {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    max-width: 704px;
  }
}
@media only screen and (min-width: 1280px) {
  .teachers-list {
    max-width: 1024px;
    gap: 32px;
  }
}

.teachers-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 335px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .teachers-item {
    flex-basis: calc((100% - 160px) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .teachers-item {
    flex-basis: calc((100% - 96px) / 4);
  }
}

.teachers-image {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
  width: 150px;
  height: 150px;
}

.teachers-description {
  font-size: 14px;
  line-height: 1.71429;
  text-align: center;
  color: var(--p-text);
}

.teachers-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 8px;
}

.teachers-undertext {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--p-text);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .teachers-undertext {
    font-size: 16px;
    line-height: 1.5;
  }
}